---
import reposData from '../data/github-repos.json';

const repos = reposData.repos || reposData;

interface Repo {
  id: number;
  name: string;
  html_url: string;
  description: string | null;
  language: string | null;
  languages?: string[];
}
---

<section class="pb-8 select-none">
  <a href="https://github.com/chrisladzamach?tab=repositories" target="_blank" rel="noopener noreferrer" class="text-green-400 mb-4">
    <span class="text-zinc-500">$</span> ls -la projects/
  </a>
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4 mt-4 overflow-scroll max-h-50">
    {repos.map((repo: Repo) => (
      <div class="border border-gray-700 rounded p-4 hover:border-green-400 transition-colors cursor-default" key={repo.id}>
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-white font-semibold">{repo.name}</h3>
          <a class="text-green-400 hover:text-black hover:bg-green-400 p-1" href={repo.html_url} target="_blank" rel="noopener noreferrer">
            X
          </a>
        </div>
        <div>
          <p class="text-gray-400 text-sm mb-3">
            {repo.description}
          </p>
        </div>
        <div class="flex flex-wrap gap-1">
          {repo.languages && repo.languages.length > 0 ? (
            repo.languages.map((lang: string) => (
              <p class="text-xs text-green-400 ml-4" key={lang}>{lang}</p>
            ))
          ) : (
            <p class="text-xs border-green-400 text-green-400">Desconocido</p>
          )}
        </div>
      </div>
    ))}
  </section>
</section>